<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpD--f5Gzh_KRd_jCLMByKNZBAuK3Ez_A</string>
	<key>GCM_SENDER_ID</key>
	<string>942369261689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernando.marins.hoodoo-grimoire</string>
	<key>PROJECT_ID</key>
	<string>hoodoo-grimoire</string>
	<key>STORAGE_BUCKET</key>
	<string>hoodoo-grimoire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942369261689:ios:1879a80f6f4c02bd326ca8</string>
</dict>
</plist>